@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import "tailwindcss";




@theme {

  /* dark mode */

  --color-DMBlue-900: #2b3945;
  /*Darkmodeelements*/
  --color-DMBlue-950: #202c37;
  /*Darkmodee background*



  /* light mode  */
  --color-LMGrey-950: #111517;
  /*light mode text*/
  --color-LMGrey-400: #808080;
  /*light mode input*/
  --color-LMGrey-50: #fcfcfc;
  /* lightmode background*/


  --color-LDMWhite: #ffffff;
  /*darkmode text and light mode elements*/


  --font-Nunito: "Nunito Sans", sans-serif;

}